* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 100px 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-top: 245px;
  background-color: #00000094;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  backdrop-filter: blur(10px);
}

.avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1rem;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
}

.bio {
  font-size: 13px;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3px;
  
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 0.4rem;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  transition: .3s ease all;
  
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease all;
  cursor: pointer;
}

.button img {
    height: 40px;
    border-radius: 100%;
    width: 40px;
    object-fit: contain;
}

.button:hover {
    transform: scale(1.15)
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 100px 0px;
  width: 100%;
  gap: 1rem;
}

.link {
 animation: up 2s;
    padding: 16px 44px;
    width: 95%;
    text-align: center;
    background-color: #0d0d0e;
    border: 0 solid #1c1c1c;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 17px 1px rgba(0,0,0,.57);
    -moz-box-shadow: 0 0 17px 1px rgba(0,0,0,.57);
    box-shadow: 0 0 17px 1px rgba(0,0,0,.57);
    cursor: pointer;
    color: #a7a7a7;
    transition: transform .25s ease,color .25s ease,background-color .25s ease,border-color .25s ease;
    font-weight: 400;
  margin-top: 20px;
}

.link:hover {
    transform: scale(1.05)
}

.open {
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  position: absolute;
}

.badge-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-bottom: 0px;
}

.badge {
  height: 20px;
  width: 20px;
}

.tooltip-container {
  cursor: pointer;
  position: relative;
  display: flex;
}

.tooltip {
  opacity: 0;
  z-index: 99;
  color: #fff;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 10px;
  justify-content: center;
  border-radius: 3px;
  text-align: center;
  width: 160px;
  font-weight: 800;
  height: 25px;
  background: rgba(51,51,51,.8);
  transition: all .2s ease-in-out;
  transform: scale(0);
  position: absolute;
  font-family: inherit;
  right: -81.6px;
  bottom: 40px;
}

.tooltip:before,.tooltip:after {
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(51,51,51,0.8);
  position: absolute;
  bottom: -8px;
  left: 43%;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  transform: scale(1);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 7px;
  margin-bottom: 1px;
  font-family: inherit;
}

.footer a{
  font-size: 10px;
  font-weight: 800;
  color: white;
  font-family: inherit;
  text-decoration: none;
}
